@import "../../scss/_color";
.navbar-con {
  position: fixed;
  top: 0;
  z-index: 23456789876543456;
  justify-content: center;
  width: 100%;
  display: flex;
  color: white;
  ul {
    display: flex;
    justify-content: center;
    width: fit-content;
    background-color: $blur-nav;
    backdrop-filter: blur(8px);
    padding: 0.5em 1em;
    font-size: 1.3em;
    border-radius: 8px;
    transition: 0.3s;
    &.down {
      margin: 0.5em auto;
      transition: 0.3s;
    }
    li {
      list-style-type: none;
      margin: 0 0.5em;
      a {
        text-decoration: none;
        text-transform: capitalize;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1;
          transition-duration: 0.3s;
        }
        &.active {
          opacity: 1;
          transition-duration: 0.3s;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar-con {
    ul {
      font-size: 1em;
      width: 100%;
      justify-content: space-between;
      margin: 0;
      border-radius: 0;
      &.down {
        margin: 0;
      }
    }
  }
}
